.signin
{
 background: rgba(255, 253, 240, 1);
 padding: 15% 15% 15% 15%;
}
.signinTitle h1
{
  color: #343F75;
  font-size: 28px;
}
.signinTitle p
{
  color: #6C757D;
  font-size: 18px;

}
#flexCheckIndeterminate label,.form-check-label
{
  color: #343F75;
}
.signinleft
{
  background-color: #fff;
}
.signinheight
{
  margin: 0 auto;
  height: 100vh;
}
.or
{
  text-align: center;
  margin-top: 10%;
}
input
{
  border: 1px solid #6C757D;
  background: transparent;

}
#name
{
  padding-right: 25px;
  background: url("../assets/image/PROFILE.png") no-repeat 14px;
  background-size: 20px;
  border-radius: 5px;
  margin-bottom: 3%;
  padding-left: 7% !important;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14px;
  color:#BCBCBC
  ;
}
#password
{
  background: url("../assets/image/lockpass.png") no-repeat 14px,url("../assets/image/eyeHide.png") no-repeat  33vw;
  background-size: 20px;
  border-radius: 5px;
  margin-bottom: 3%;
  padding-left: 7% !important;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14px;
}

#name,#password::placeholder
{
color: #6C757D;
}
.lines
{
  text-align: center;
}
.lines img
{
  width: 100%;
  margin-top: 6%;
}
.fbaddons
{
  padding: 0px;
}

.Forgot
{
  text-align: right;
}
.signinBtn
{
  width: 100%;
  background: #0000;
  border: 2px solid #343F75;
  padding: 11px;
  border-radius: 5px;
  margin-top: 2%;
  font-weight: 600;
  color: #343F75;
}

.btn1
{
  background: url("../assets/image/Vector.png") no-repeat 1px;
  padding-left: 14%;

}

.btn2
{
  background: url("../assets/image/google.png") no-repeat 1px;
  padding-left: 16%;
}

.btn3
{
  background: url("../assets/image/Apple.png") no-repeat 1px;
  padding-left: 12%;
}

.addons
{
  margin-left: 3%;
  margin-top: 4%;
}
