.signin
{
 background: rgba(255, 253, 240, 1);
 padding: 15% 15% 15% 7%;
}
.signinleft
{
  background-color: #fff;
}
.signinheight
{
  margin: 0 auto;
  height: 100vh;
}
.or
{
  text-align: center;
  margin-top: 10%;
}
input
{
  border: 1px solid #6C757D;
  background: transparent;

}
#name
{
  padding-right: 25px;
  background: url("../assets/image/PROFILE.png") no-repeat 14px;
  background-size: 20px;
  border-radius: 5px;
  margin-bottom: 3%;
  padding-left: 7% !important;
  padding-top: 2%;
  padding-bottom: 2%;
}
#password
{
  background: url("../assets/image/lockpass.png") no-repeat 14px,url("../assets/image/eyeHide.png") no-repeat 40.5vw;
  background-size: 20px;
  border-radius: 5px;
  margin-bottom: 3%;
  padding-left: 7% !important;
  padding-top: 2%;
  padding-bottom: 2%;
}
.lines
{
  background: url("../assets/image/line.png") no-repeat 14px;
}
#name,#password::placeholder
{
color: #6C757D;
}

.Forgot
{
  text-align: right;
}
.signinBtn
{
  width: 100%;
  background: #0000;
  border: 1px solid #343F75;
  padding: 10px;
  border-radius: 5px;
  margin-top: 2%;
  font-weight: 600;
}

.btn1
{
  background: url("../assets/image/Vector.png") no-repeat 1px;
  padding-left: 8%;
}

.btn2
{
  background: url("../assets/image/google.png") no-repeat 1px;
  padding-left: 16%;
}

.btn3
{
  background: url("../assets/image/Apple.png") no-repeat 1px;
  padding-left: 12%;
}

.addons
{
 
  margin-top: 4%;
}
