<div class="conntainer">
    <div class="row">
<div class="col-md-4">

    <div class="chat-container">
        <div class="chat">
          <div class="sender">Ella</div>
          <div class="message">Hey, how's it going?</div>
        </div>
        
        <div class="chat">
          <div class="sender">Bob</div>
          <div class="message">Not bad! What about you?</div>
        </div>
        
        <div class="chat">
            <div class="row">
                <div class="col-md-2">
                    <img src="../../assets/chat_profile.png"/>
                </div>
                <div class="col-md-8">
                
          <div class="sender">Alice</div>
          <div class="message">Hello doe, Lorem ipsum....</div></div>

          <div class="col-md-2">
            <div class="time">1 min ago</div>
            <div class="Remaining-msg">
<img src="../../assets/Apple.png"/>

            </div>
        </div>

        </div>
        </div>
        <div class="chat">
            <div class="sender">Alice</div>
            <div class="message">Hey, how's it going?</div>
          </div>
          
          <div class="chat">
            <div class="sender">Bob</div>
            <div class="message">Not bad! What about you?</div>
          </div>
          
          <div class="chat">
            <div class="sender">Alice</div>
            <div class="message">I'm doing well, thanks!</div>
          </div>
        
        <!-- Add more chat conversations as needed -->
      </div>
      
</div>
<div class="col-md-8">
    </div>

</div>
</div>
