<!-- <div class="conntainer">
    <div class="row">
<div class="col-md-4">

    <div class="chat-container">
        <div class="chat">
          <div class="sender">Ella</div>
          <div class="message">Hey, how's it going?</div>
        </div>
        
        <div class="chat">
          <div class="sender">Bob</div>
          <div class="message">Not bad! What about you?</div>
        </div>
        
        <div class="chat">
            <div class="row">
                <div class="col-md-2">
                    <img src="../../assets/chat_profile.png"/>
                </div>
                <div class="col-md-8">
                
          <div class="sender">Alice</div>
          <div class="message">Hello doe, Lorem ipsum....</div></div>

          <div class="col-md-2">
            <div class="time">1 min ago</div>
            <div class="Remaining-msg">
<img src="../../assets/Apple.png"/>

            </div>
        </div>

        </div>
        </div>
        <div class="chat">
            <div class="sender">Alice</div>
            <div class="message">Hey, how's it going?</div>
          </div>
          
          <div class="chat">
            <div class="sender">Bob</div>
            <div class="message">Not bad! What about you?</div>
          </div>
          
          <div class="chat">
            <div class="sender">Alice</div>
            <div class="message">I'm doing well, thanks!</div>
          </div>
         -->
        <!-- Add more chat conversations as needed -->
 <!--      </div>
      
</div>
<div class="col-md-8">
    </div>

</div>
</div> -->
<!-- <div class="container">
<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary">
  <div class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
   <input class="fs-5 fw-semibold" [(ngModel)] ='username' />
  </div>
  <div class="list-group list-group-flush border-bottom scrollarea">
    <div class="list-group-item list-group-item-action active py-3 lh-sm" aria-current="true"
    *ngFor="let msg of messages">

      <div class="d-flex w-100 align-items-center justify-content-between"> -->
       <!--  <strong class="mb-1">{msg.username}</strong> -->
       
      <!-- </div> -->
      <!-- div class="col-10 mb-1 small">{{msg.message}}</div> -->
 <!--    </div>
 
</div>
   </div>
   <form (submit)="submit()">
    <input class="form-control" placeholder="Write A Messgae" [(ngModel)]="message"/>
    </form>

   </div> -->


   <div class="container">
    
  <div class="chat-list mat-elevation-z5">
    <div class="search-input">
      
      <input 
      matInput 
      placeholder="Search for user..." 
       [formControl]="searchControl"
       />
    
      </div>
  </div>

  <div class="messages chat-list mat-elevation-z5">
  </div>
  </div>
