<div class="profilebackgroundimage">
<div class="container">
<div class="row signindata">
	<div class="col-md-2 Signin-profileimg">
		<img src="../../assets/Signin-profile.png" alt="Sign In" >
		</div>
		<div class="col-md-8 profile-description">

	<div class="hand-icon">
		<img src="../../assets/hy.png">
	</div>
			
			
					<div class="profilename">
						<h1>Hello,</h1>
					<h3>John <strong>Doe</strong></h3>	
					</div>
					<div class="profilenameStatus">
						<button >Student <i class="fa fa-edit"></i></button>
						</div>
				


		
		  </div>
		</div>
        </div>



		</div>


		<div class="container">
			<div class="row">
			<div class="col-md-4 col-sm-12 col-xs-12">
			<div class="profile-container">
				<div class="input-group">
				
				<div class="profilename">
					<div class="row">
						<div class="col-md-8">
							<input class=" form-control" id="name" name="name" type="text" placeholder="Profile Name:" disabled/>
				
						</div>
						
						<div class="col-md-4">
						<div class="usernames"username>
							{{username}}
						</div>
						</div>	
						</div>
					
				</div>
				<div class="profilename1">
					<div class="row">
						<div class="col-md-8">
							<input class=" form-control" id="name" name="name" type="text" placeholder="Gender:" disabled/>
				
						</div>
						
						<div class="col-md-4">
						<div class="usernames"username>
							Male
						</div>
						</div>	
						</div>
					
				</div>
				<div class="profilename2">
					<div class="row">
						<div class="col-md-8">
							<input class=" form-control" id="name" name="name" type="number" placeholder="Phone No" disabled/>
				
						</div>
						
						<div class="col-md-4">
						<div class="usernames"username>
							12345678
						</div>
						</div>	
						</div>
					
				</div>
				<div class="profilename3">
					<div class="row">
						<div class="col-md-8">
							<input class=" form-control" id="name" name="name" type="text" placeholder="Address:" disabled/>
				
						</div>
						
						<div class="col-md-4">
						<div class="usernames"username>
							Lorim lorem.
						</div>
						</div>	
						</div>
					
				</div>
				<div class="profilename4">
					<div class="row">
						<div class="col-md-8">
							<input class=" form-control" id="name" name="name" type="Id" placeholder="PayPal ID:" disabled/>
				
						</div>
						
						<div class="col-md-4">
						<div class="usernames"username>
							{{username}}
						</div>
						</div>	
						</div>
					
				</div>

				<div class="profilename5">
					<div class="row">
						<div class="col-md-8">
							<input class=" form-control" id="name" name="name" type="text" placeholder="Time Zone:" disabled/>
				
						</div>
						
						<div class="col-md-4">
						<div class="usernames"username>
							Lorim lorem.
						</div>
						</div>	
						</div>
					
				</div>
				<div class="profilename6">
					<div class="row">
						<div class="col-md-8">
							<input class=" form-control" id="name" name="name" type="text" placeholder="Notification:" disabled/>
				
						</div>
						
						<div class="col-md-4">
						<div class="usernames"username>
						<mat-slide-toggle value="warn"></mat-slide-toggle>
						</div>
						</div>	
						</div>
					
				</div>
				   
				   </div>  
				   </div>


				   <!-- update email -->
				   <div class="profile-container">
					<div class="input-group">
					
					<div class="profile-passsword-update">
						<div class="row">
							<h1>Update Password</h1>
							<div class="col-md-8">
								
								<input class=" form-control" id="name" name="name" type="text" placeholder="Enter your Password" />
					
							</div>
							
							<div class="col-md-4">
							<div class="updateEmail">
							<button>Update</button>
													</div>
							</div>	
							</div>
						
					</div>
				
				
				
	
				
					
					   
					   </div>  
					   </div>
				  
			</div>
			<div class="col-md-8 col-sm-12 col-xs-12">
			
			</div>	
			</div>	
			</div>
			