<div class="fluid-container">
    <div class="row signinheight">
      <div class="col-md-4 signinleft">
      </div>
      <div class="col-md-8 col-sm-12 signin">
        <div class="container">
        <div class="signinTitle">
  
          <h1>Sign <strong>In</strong></h1>
          <p>Already have an account?<span style="color:#343F75;font-weight:600;"> Sign In</span></p>
        </div>
        
        <form>
      
  
          <div class="form-group ">
           
            <div class="input-group">
                
              <select class="form-select selectoptionicon">
                <option class="selectitems">Show Entries</option>
                <option class="selectitems">2</option>
                <option class="selectitems">3</option>
                <option class="selectitems">4</option>
              </select>
               
               </div>
            <div class="input-group">
            
             <input class="form-control" id="name" name="name" type="text" placeholder="Enter your name"/>
            
            </div>

            <div class="input-group">
                
                <input class="form-control" id="email" name="email" type="email" placeholder="Enter your email"/>
                
               </div>
               <p class="afterpassword">  We’ll never share your email with anyone else.</p>
            <div class="input-group">
              
              <input class="form-control" id="password" name="name" type="password" placeholder="Password"/>
             
             </div>
           
             <div class="input-group">
              
                <input class="form-control" id="password" name="name" type="password" placeholder="Confirm Password"/>
             
               </div>
               
               <p class="afterpassword">Confirm Password Use 8 or more characters with a mix of letters, numbers & symbols</p>
               <div class="input-group">
                
                <div class="afterconfirmpass">
                <h1>I am:</h1>
                <div class="row optionbtn">
                <div class="col-md-6">
                    <button class="btn stdbtn">Student</button>    
                </div>    
                <div class="col-md-6">
                    <button class="btn tutbtn">Tutor</button>    
                </div>    
                </div>
                </div>
               </div>
            
  
            <div class="row">
          <div class="col-md-12">
             <div class="form-check agree">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
              <label class="form-check-label" for="flexCheckIndeterminate">
                I agree to the terms & conditions and have read the privacy policy.
              </label>
            </div>
            </div>

          </div>
            <button  class="signinBtn">Sign Up</button>
           </div>
          
  
          <div class="row ">
            <div class="col-md-12">
             <div class="lines"></div>
              
            </div>
           
          </div>
          <div class="row addon">
            <div class="col-md-4 ">
            <!--   <button class="btn btn1">Continue with Facebook</button> -->
            <img class="fb"src="../../assets/Facbook-signin.png">
            </div>
            <div class="col-md-4">
          <!--     <button class="btn btn2">Continue with Google</button> -->
          <img  class="fb" src="../../assets/SignIn-Google.png">
            
            </div>
            <div class="col-md-4">
              <!-- <button class="btn btn3">Continue with Apple</button> -->
              <img  class="fb" src="../../assets/Signin-Apple.png">
            </div>
  
          </div>
          
  
        </form>
      </div>
      </div>
    </div>
  
  </div>
  
  