<div class="favorite-details-Container ">
    <div class="container">
    <div class="favorite-tutors-banner">
 
    </div>
    
    <div class="row tutor-row">

        <div class="col-md-5 col-xs-12 left-column">
            <div class="tutors_Thumbnail">

                <div class="profile_image">
                    <img src="../../assets/verified-profile.png">
                </div>

                <div class="row after-img">
                    <div class="col-md-12">


                        <div class="Profile_Name">
                            <h2>John <span style="font-weight: 700;">Doe <span class="icon"><img
                                            src="../../assets/verified.png"></span></span></h2>

                            <div class="subject_Name">
                                <p> Applied Engineering Trainer</p>
                            </div>
                            <div class="rating_Start">
                                <img src="../../assets/ratingstar.png"><span style="color: #343F75; font-size: 10px;">5(1)</span>
                            </div>
                            <div class="price_Class">
                                <h2>20$ <span
                                        style="font-size: 12px;font-weight: 300;margin-left: -3%;">/hr</span>
                                </h2>
                            </div>
                        </div>

                  
                    </div>

                </div>
                <div class="container">
                    <div class="row">

                        <div class="col-md-12 title-row">
                            <div class="title">
                                <h1>Completed 7 Year <span style="font-weight: 700;">Here</span></h1>
                            </div>
                        </div>

                        <div class="book_Nowbtn">
                            <button class="Book_now">Book Demo <img class="play-btn-icon"
                                    src="../../assets/play-button.png"></button>
                        </div>
                    </div>
                 
                </div>




               
              

            </div>
        </div>
        <div class="col-md-7 right-row">
        </div>


</div>
</div>
